<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>contact me on @ sat8ndra@gmail.com</p>

    {{> footer}}
  </body>
</html>
